
<!DOCTYPE html>
<html>
<head>
	<title>import fichier</title>
</head>
<body>
	<h1>import fichier </h1>
	<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="excelFile"/><input type="submit" name="btnInport" value="Import Data form Excel"/>
   
</body>
</html>
